<html>
<head>
  <title>WORKSPACE</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="workspace-banner">
    <div class="workspace-banner-head flex flex-space-between">
      <h1>WEBPACK OUT OF BOX</h1>
      <svg>
        <use xlink:href="#cross"></use>
      </svg>
    </div>
    <div class="workspace-banner-body">
      <div>workspace prepared</div>
    </div>
  </div>
</body>
</html>
